/* generics */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
}

img {
    width: 100%;
}


/* utilities */

main section:nth-of-type(even) {
    background-color: #9792e4;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}


/* flex */

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}


/* contents */

/* header */

header {
    background-color: #0084fd;
    position: fixed;
    width: 100%;
    min-height: 80px;
    line-height: 80px;
    z-index: 5;
}

header .fa-bars,
header img {
    vertical-align: middle;
}

header i {
    color: #fff;
}


/* main */

/* demo application section */

#demo-app {
    padding-top: 100px;
}

#demo-app .container .card:first-child {
    padding-bottom: 0px;
}

.card {
    background-color: #b5ddff;
    padding: 40px 30px;
    row-gap: 30px;
    border-radius: 20px;
}

#app-store-button {
    padding: 15px 35px;
    background-color: #0084fd;
    width: 85%;
    border-radius: 30px;
}

#app-store-button #apple {
    color: #fff;
}

#app-store-button a {
    column-gap: 10px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

#app-store-button span {
    color: #fff;
    font-weight: bold;
    letter-spacing: 0.2rem;
}

#demo-app .card p {
    color: #4f687e;
    font-weight: bold;
    line-height: 1.6rem;
}

#demo-app .container {
    row-gap: 25px;
    margin-bottom: 90px;
}

#demo-app .container .card h3 {
    color: #0084ff;
    font-weight: 700;
    font-size: 1.6rem;
}

#demo-app .container .card i {
    color: #0084ff;
}


/* strategic planning section */

.card-2 {
    padding: 40px 30px;
    row-gap: 30px;
    border-radius: 55px;
}

#strategic-planning .card-2 {
    background-color: #fff;
    margin-top: 40px;
}

#strategic-planning .container {
    padding: 70px 0px;
}

#strategic-planning h2 {
    padding: 40px 0px;
    color: #fff;
    font-size: 2.2rem;
}

#strategic-planning .container div:first-child p {
    color: #fff;
    line-height: 1.6rem;
}

#strategic-planning .card-2 h3 {
    font-weight: 700;
    font-size: 1.6rem;
}

#strategic-planning .card-2 p {
    line-height: 1.6rem;
    font-style: italic;
}


/* testimonials section */

#testimonials .container {
    padding: 70px 0px 120px;
}

#testimonials .container .testimonial-descr p {
    font-size: 1.1rem;
    line-height: 1.8rem;
}

#testimonials .container .testimonial-descr h2 {
    font-size: 2.2rem;
    margin: 30px 0px;
    color: #9792e4;
}

#testimonials .card-2 {
    background-color: #9792e4;
    color: #fff;
    margin-top: 30px;
}

#testimonials .card-2 i {
    font-weight: bold;
    font-size: 1.3rem;
}

#testimonials .card-2 p {
    line-height: 1.6rem;
}

#testimonials .card-2 div:last-child {
    font-weight: bold;
}

#testimonials .card-2 div:first-child {
    clip-path: circle(50%);
    width: 200px;
    height: 200px;
}

#testimonials .card-2 img {
    margin-left: -25%;
    height: 100%;
    width: auto;
}

/* benefits section */

#benefits .container {
    padding-bottom: 30px;
}

#benefits .container h2 {
    font-size: 2.2rem;
    margin: 30px 0px;
    color: #fff;
    padding: 20px 0px;
}

#benefits .container .card {
    background-color: #fff;
    margin-bottom: 30px;
}

#benefits .container .card div:first-child {
    color: #9792e4;
    font-size: 3rem;
    font-weight: bold;
}

#benefits .container .card h3 {
    color: #9792e4;
    font-size: 1.6rem;
}

#benefits .container .card p {
    color: #727272;
    line-height: 1.6rem;
}

#benefits .container .card div:last-child {
    background-color: #9792e4;
    padding: 15px 35px;
    width: 45%;
    border-radius: 30px;
}

#benefits .container .card div:last-child a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    letter-spacing: 0.2rem;
}


/* about us section */

#about-us .container {
    padding: 80px 0px 70px;
}

#linkedin div:first-child {
    width: 50%;
    height: 50%;
    margin: 40px 0px 30px;
}

#linkedin div:first-child img {
    clip-path: circle(50%);
}

/* footer */

footer {
    background-color: #333333;
}


/* debug */

.debug section {
    min-height: 500px;
}

.debug footer {
    min-height: 500px;
}